<template>
  <popup
    :visible="visible"
    :closable="true"
    :title="$t('message.information.title')"
    :no-title="true"
    @close="hidePopup"
  >
    <div class="container flex column stretch" v-if="gameInfoSelected">
      <ul>
        <li class="flex row bigger">
          <div class="title">{{$t('message.gameInfoSelected.player')}}:</div>
          <div>
            <a target="_blank" :href="gameInfoSelected.playerAddressLink">
              {{gameInfoSelected.playerAddress}}
            </a>
          </div>
        </li>
        <li class="flex row bigger">
          <div class="title">{{$t('message.gameInfoSelected.score')}}:</div>
          <div class="rating-wrapper">
            {{gameInfoSelected.playerScore}}
            <span :class="['rating', {increased: gameInfoSelected.ratingPoints >= 0}]">
              {{ratingPoints}}
            </span>
          </div>
        </li>
        <li class="flex row">
          <div class="title">{{$t('message.gameInfoSelected.bet')}}:</div>
          <div>
            {{gameInfoSelected.bet}}
            <img class="wave" src="../../assets/images/wave-small.png" alt="">
          </div>
        </li>
        <li class="flex row">
          <div class="title">{{$t('message.gameInfoSelected.playerChoice')}}:</div>
          <control-dices-thumbnails
            :dices="gameInfoSelected.playerChoice"
          >
          </control-dices-thumbnails>
        </li>
        <li class="flex row">
          <div class="title">{{$t('message.gameInfoSelected.systemChoice')}}:</div>
          <control-dices-thumbnails
            :dices="[gameInfoSelected.serverChoice]"
            :server-choice="true"
            :server-winner="gameInfoSelected.serverWinner"
            class="justify-content-center"
          >
          </control-dices-thumbnails>
        </li>
        <li class="title flex align-items-center">
          <div class="title">{{$t('message.gameInfoSelected.won')}}:</div>
          <div v-if="gameInfoSelected.serverWinner">
            <span style="opacity: 0.5">&#8212;</span>
          </div>
          <div v-else>
            {{gameInfoSelected.cleanWonAmount}}
            <img class="wave" src="../../assets/images/wave-small.png" alt="">
          </div>
        </li>
      </ul>
      <div class="flex row buttons">
        <a target="_blank" :href="gameInfoSelected.smartAddressLink">
          <button-small :title="$t('message.gameInfoSelected.smartContract')"></button-small>
        </a>
      </div>
    </div>
  </popup>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import ButtonSmall from '@/components/controls/ButtonSmall.vue';
import ControlDicesThumbnails from '@/components/controls/DicesThumbnails.vue';
import Popup from '@/components/popups/Popup.vue';
import { Popups } from '@/utils';

export default {
  components: {
    Popup,
    ButtonSmall,
    ControlDicesThumbnails,
  },
  computed: {
    ...mapGetters({
      popupsVisibility: 'popupsVisibility',
      gameInfoSelected: 'gameInfoSelected',
    }),
    visible() {
      return this.popupsVisibility[Popups.GAME_INFORMATION];
    },
    ratingPoints() {
      if (this.gameInfoSelected.ratingPoints > 0) {
        return `+${this.gameInfoSelected.ratingPoints}`;
      }

      return this.gameInfoSelected.ratingPoints;
    },
  },
  methods: {
    ...mapActions({
      setPopupVisibility: 'setPopupVisibility',
    }),
    hidePopup() {
      this.setPopupVisibility({
        popup: Popups.GAME_INFORMATION,
        visible: false,
      });
    },
  },
};
</script>

<style scoped lang="scss">
  .container {
    font-family: "Serpentin", sans-serif;

    a:hover {
      color: rgb(125, 202, 250);
    }

    @media (min-aspect-ratio: 16/9) {
      ul {
        margin: 0 0 calc((16 / 9) * 1.5vh) 0 !important;
        padding: 0 calc((16 / 9) * 2vh) !important;

        li {
          height: calc((16 / 9) * 1.6vh) !important;
          font-size: calc((16 / 9) * 1vh) !important;
          letter-spacing: calc((16 / 9) * 0.03vh) !important;

          &.bigger {
            font-size: calc((16 / 9) * 1.25vh) !important;
          }

          div:last-child {
            padding-left: calc((16 / 9) * 0.5vh) !important;
          }
        }

        .rating-wrapper {

          .rating {
            font-size: calc((16 / 9) * 0.9vh) !important;
            padding-left: calc((16 / 9) * 0.4vh) !important;
            top: calc((16 / 9) * -0.5vh) !important;
          }
        }

        li:nth-child(2) {
          margin-bottom: calc((16 / 9) * 1.2vh) !important;
        }
      }

      .buttons {
        margin-left: calc((16 / 9) * 1.5vh) !important;
      }
    }

    ul {
      list-style-type: none;
      text-transform: uppercase;
      margin: 0 0 1.5vw 0;
      padding: 0 2vw;

      li {
        height: 1.6vw;
        display: flex;
        align-items: center;
        font-size: 1vw;
        letter-spacing: 0.03vw;

        &.bigger {
          font-size: 1.25vw;
        }

        .rating-wrapper {
          position: relative;

          .rating {
            font-size: 0.9vw;
            padding-left: 0.4vw;
            top: -0.5vw;
            position: relative;
            color: rgba(255, 30, 0, 0.7);

            &.increased {
              color: rgba(30, 255, 0, 0.7);
            }
          }
        }

        div:first-child {
          color: rgb(125, 202, 250);
        }

        div:last-child {
          color: white;
          padding-left: 0.5vw;
        }
      }

      li:nth-child(2) {
        margin-bottom: 1.2vw;
      }
    }

    .buttons {
      margin-left: 1.5vw;

      a {
        text-decoration: none;
      }
    }
  }
</style>
