<template>
  <div :class="['button', backgroundVariant, {disabled: disabled}]" @click="onClick">
    <div class="text white centered">{{title}}</div>
  </div>
</template>

<script>
export default {
  props: {
    variant: {
      type: Number,
      default: 0,
    },
    title: String,
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    backgroundVariant() {
      if (this.variant === 1) {
        return 'variant-1';
      }

      return 'variant-2';
    },
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>

<style scoped lang="scss">
  $button-height: 3.75;

  .button {
    height: #{$button-height}vw;
    display: block;
    cursor: pointer;

    &.variant-1 {
      background: url("../../assets/images/button-small-sprite.png") 0 0 no-repeat;
      background-size: 200% 100%;

      &:hover:not(.disabled) {
        background: url("../../assets/images/button-small-sprite.png") 100% 0 no-repeat;
        background-size: 200% 100%;
      }
    }

    &.variant-2 {
      background: url("../../assets/images/button-small-sprite-2.png") 0 0 no-repeat;
      background-size: 200% 100%;


      &:hover:not(.disabled) {
        background: url("../../assets/images/button-small-sprite-2.png") 100% 0 no-repeat;
        background-size: 200% 100%;
      }
    }

    @media (min-aspect-ratio: 16/9) {
      height: calc((16 / 9) * #{$button-height}vh) !important;

      .text {
        padding: calc((16 / 9) * 1vh) calc((16 / 9) * 1vh) !important;
        font-size: calc((16 / 9) * 0.8vh) !important;
      }
    }

    .text {
      padding: 1vw 1vw;
      font-size: 0.8vw;
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
</style>
