<template>
  <div :class="['button', {disabled: disabled}]" @click="onClick">
    <div class="text white centered">{{title}}</div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>

<style scoped lang="scss">
  $button-height: 5;

  .button {
    height: #{$button-height}vw;
    display: block;
    background: url("../../assets/images/button-big-sprite.png") 0 0 no-repeat;
    background-size: 200% 100%;
    cursor: pointer;

    @media (min-aspect-ratio: 16/9) {
      height: calc((16 / 9) * #{$button-height}vh) !important;

      .text {
        padding: calc((16 / 9) * 1.8vh) calc((16 / 9) * 4vh)
        calc((16 / 9) * 2vh) calc((16 / 9) * 4vh) !important;
        font-size: calc((16 / 9) * 0.8vh) !important;
      }
    }

    .text {
      padding: 1.8vw 4vw 2vw 4vw;
      font-size: 0.8vw;
    }

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }

    &:hover:not(.disabled) {
      background: url("../../assets/images/button-big-sprite.png") 100% 0 no-repeat;
      background-size: 200% 100%;
    }
  }
</style>
