<template>
  <div :class="['coin-wrapper', {disabled: disabled}]">
    <div @click="onClick" :class="spriteClass"></div>
    <div class="text caption white centered amount">{{amount}}</div>
    <div class="text caption white centered waves">waves</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  props: {
    amount: Number,
    disabled: Boolean,
  },
  computed: {
    ...mapGetters({
      betAmount: 'betAmount',
    }),
    active() {
      return this.amount === this.betAmount;
    },
    spriteClass() {
      return ['coin', { active: this.active }];
    },
  },
  methods: {
    ...mapActions({
      setBetAmount: 'setBetAmount',
    }),
    onClick() {
      if (!this.active) {
        this.setBetAmount(this.amount);
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .coin-wrapper {
    $coin-size-w: 10vw;

    @media (min-aspect-ratio: 16/9) {
      $coin-size-h: 10vh;

      width: $coin-size-h !important;
      height: $coin-size-h !important;

      .coin {
        width: $coin-size-h !important;
        height: $coin-size-h !important;
      }

      .text {
        width: $coin-size-h !important;

        &.amount {
          margin-top: 2vh !important;
          font-size: 2.5vh !important;
        }

        &.waves {
          margin-top: 5vh !important;
          font-size: 1vh !important;
        }
      }
    }


    width: calc((9 / 16) * #{$coin-size-w});
    height: calc((9 / 16) * #{$coin-size-w});
    display: block;
    position: relative;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
    }

    .text {
      pointer-events: none;
      position: absolute;
      text-shadow: -2px 2px 1px rgba(0, 0, 0, .5);
      width: calc((9 / 16) * 10vw);

      &.amount {
        margin-top: calc((9 / 16) * 2vw);
        font-size: calc((9 / 16) * 2.5vw);
      }

      &.waves {
        margin-top: calc((9 / 16) * 5vw);
        font-size: calc((9 / 16) * 1vw);
      }
    }

    .coin {
      width: calc((9 / 16) * #{$coin-size-w});
      height: calc((9 / 16) * #{$coin-size-w});
      position: absolute;
      display: block;
      background: url("../../assets/images/coin-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/coin-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/coin-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }
  }
</style>
