<template>
      <div
      :class="['dice-wrapper', {disabled: disabled, thumbnail: thumbnail, mobile: mobile}]">
    <div
      @click="onClick"
      @mouseenter="onMouseEnter"
      @mouseleave="onMouseLeave"
      :class="spriteClass"
    >
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  props: {
    dice: Number,
    active: Boolean,
    disabled: Boolean,
    thumbnail: {
      type: Boolean,
      default: false,
    },
    mobile: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      hovered: false,
    };
  },
  computed: {
    ...mapGetters({
      selectedDices: 'selectedDices',
    }),
    spriteClass() {
      return [`dice dice-${this.dice}`, {
        active: this.active,
        shaking: this.hovered && !this.active,
        thumbnail: this.thumbnail,
      }];
    },
  },
  methods: {
    ...mapActions({
      addDiceToSelected: 'addDiceToSelected',
      removeDiceFromSelected: 'removeDiceFromSelected',
    }),
    onClick() {
      if (this.active && this.selectedDices.length > 1) {
        this.removeDiceFromSelected(this.dice);
      } else if (!this.active) {
        if (this.selectedDices.length === 5) {
          this.removeDiceFromSelected(this.selectedDices[0]);
        }
        this.addDiceToSelected(this.dice);
      }
    },
    onMouseEnter() {
      this.hovered = true;
    },
    onMouseLeave() {
      this.hovered = false;
    },
  },
};
</script>

<style scoped lang="scss">
  $dice-size: 6vw;
  $dice-size-thumbnail: 2vw;


  .dice-wrapper {
      $dice-size-w: 11vw;

      &.faded {
        opacity: 0.7;
      }


      @media (min-aspect-ratio: 16/9) {
        $dice-size-h: 11vh;

        width: $dice-size-h !important;
        height: $dice-size-h !important;
        .dice {
          width: $dice-size-h !important;
          height: $dice-size-h !important;

        }
      }

      width: calc((9 / 16) * #{$dice-size-w});
      height: calc((9 / 16) * #{$dice-size-w});
      display: block;
      position: relative;
      cursor: pointer;

      .dice {
        width: calc((9 / 16) * #{$dice-size-w});
        height: calc((9 / 16) * #{$dice-size-w});
        position: absolute;
        display: block;

        &:hover {
          transform: scale(1.05);
          opacity: 0.9;
        }

        &.active {
          transform: scale(1.10);
          opacity: 1;
        }

      }

      &.thumbnail {
        $dice-size: 3.75;
        @media (min-aspect-ratio: 16/9) {

          width: #{$dice-size}vh !important;
          height: #{$dice-size}vh !important;

          .dice {
            width: #{$dice-size}vh !important;
            height: #{$dice-size}vh !important;
          }
        }

        width: calc((9 / 16) * #{$dice-size}vw);
        height: calc((9 / 16) * #{$dice-size}vw);

        .dice {
          width: calc((9 / 16) * #{$dice-size}vw);
          height: calc((9 / 16) * #{$dice-size}vw);
        }
      }

    &.disabled {
      pointer-events: none;
    }

    &.mobile {
      margin: 0 2vw;

      @media (min-aspect-ratio: 16/9) {
        margin: 0 calc((9 / 16) * 2vh);
      }

      .dice {
        transform: scale(3,3);
      }
    }

    .dice-1 {
      background: url("../../assets/images/dice-1-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/dice-1-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/dice-1-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }

    .dice-2 {
      background: url("../../assets/images/dice-2-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/dice-2-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/dice-2-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }

    .dice-3 {
      background: url("../../assets/images/dice-3-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/dice-3-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/dice-3-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }

    .dice-4 {
      background: url("../../assets/images/dice-4-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/dice-4-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/dice-4-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }

    .dice-5 {
      background: url("../../assets/images/dice-5-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/dice-5-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/dice-5-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }

    .dice-6 {
      background: url("../../assets/images/dice-6-sprite.png") 0 0 no-repeat;
      background-size: 300% 100%;

      &:hover {
        background: url("../../assets/images/dice-6-sprite.png") 50% 0 no-repeat;
        background-size: 300% 100%;
      }

      &.active {
        background: url("../../assets/images/dice-6-sprite.png") 100% 0 no-repeat;
        background-size: 300% 100%;
      }
    }
  }
</style>
