<template>
  <div class="flex row">
    <control-dice
      v-for="(dice, id) in dices" :key="`dice-${id}`"
      :dice="dice"
      :disabled="true"
      :thumbnail="true"
      :mobile="mobile"
      :active="serverChoice && !serverWinner"
      :class="{loose: serverChoice && serverWinner}"
    >
    </control-dice>
  </div>
</template>

<script>
import ControlDice from '@/components/controls/Dice.vue';

export default {
  props: {
    dices: Array,
    active: Boolean,
    serverChoice: {
      type: Boolean,
      default: false,
    },
    serverWinner: {
      type: Boolean,
      default: false,
    },
    mobile: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    ControlDice,
  },
};
</script>

<style scoped lang="scss">
  .loose {
    opacity: 0.3;
  }
</style>
