<template>
  <div class="install-keeper flex column justify-content-center align-items-center">
    <p class="text white caption centered">
      {{$t('message.wavesKeeper.title')}}
    </p>
    <p class="text white details centered">
      {{$t('message.wavesKeeper.details')}}
    </p>
    <a :href="extensionLink" target="_blank">
      <control-button-big :title="$t('message.wavesKeeper.button')"></control-button-big>
    </a>
  </div>
</template>

<script>
import ControlButtonBig from '@/components/controls/ButtonBig.vue';
import { getAgentExtLink } from '@/utils';

export default {
  components: {
    ControlButtonBig,
  },
  computed: {
    extensionLink() {
      return getAgentExtLink();
    },
  },
};
</script>

<style scoped lang="scss">
  .install-keeper {
    width: 25vw;
    height: calc((9 / 16) * 20vw);
    background: url("../../assets/images/window-small.png") no-repeat center;
    background-size: contain;

    a {
      text-decoration: none;
    }

    @media (min-aspect-ratio: 16/9) {
      width: calc((16 / 9) * 25vh);
      height: 20vh;

      .caption {
        font-size: calc((16 / 9) * 1.2vh) !important;
      }

      .details {
        font-size: calc((16 / 9) * 0.7vh) !important;
        width: calc((16 / 9) * 20vh) !important;
      }
    }

    .caption {
      font-size: 1.2vw;
      text-transform: capitalize;
    }

    .details {
      font-size: 0.7vw;
      text-transform: none;
      color: lightgrey;
      width: 20vw;
    }
  }
</style>
