<template>
  <div class="w-100vw h-100vh flex column justify-content-center align-items-center">
    <!-- last games -->
    <control-last-games></control-last-games>
    <!-- more games -->
<!--    <control-more-games></control-more-games>-->
    <!-- socials -->
    <control-socials></control-socials>
    <!-- interface game controls -->
    <div
      class="flex row"
      :class="{ unavailable: isUnavailable }"
    >
      <div class="flex column">
        <control-left-panel class="justify-content-center align-items-center">
        </control-left-panel>
        <div class="flex row stretch"></div>
      </div>
      <div class="flex column align-items-center">
        <div class="flex column justify-content-center align-items-center">
          <!-- bottom interface -->
          <div class="text caption white centered shadow">{{$t('message.chooseDice')}}</div>
          <div id="tutorial-step-1">
            <div class="flex row justify-content-center">
              <control-dice
                v-for="(item) in dices.slice(0, 3)"
                :active="item.active"
                :disabled="isProcessing"
                :key="item.dice"
                :dice="item.dice">
              </control-dice>
            </div>
            <div class="flex row justify-content-center">
              <control-dice
                v-for="(item) in dices.slice(3, 6)"
                :active="item.active"
                :disabled="isProcessing"
                :key="item.dice"
                :dice="item.dice">
              </control-dice>
            </div>
          </div>
          <div class="text caption white centered shadow">{{$t('message.yourBet')}}</div>
          <div id="tutorial-step-2" class="flex row justify-content-center">
            <control-coin
              :disabled="isProcessing"
              :amount="1">
            </control-coin>
            <control-coin
              :disabled="isProcessing"
              :amount="2">
            </control-coin>
            <control-coin
              :disabled="isProcessing"
              :amount="4">
            </control-coin>
            <control-coin
              :disabled="isProcessing"
              :amount="8">
            </control-coin>
            <control-coin
              :disabled="isProcessing"
              :amount="14">
            </control-coin>
          </div>
        </div>
        <div id="tutorial-step-3" class="flex column justify-content-center align-items-center">
          <transition name="fade" mode="out-in">
            <control-install-waves-keeper
              v-if="!isWKInitialized"
            >
            </control-install-waves-keeper>
            <control-play
              v-else
            >
            </control-play>
          </transition>
          <control-current-game v-show="!isUnavailable"></control-current-game>
        </div>
      </div>
      <div class="flex column">
        <control-right-panel class="justify-content-center align-items-center">
        </control-right-panel>
        <div class="flex row stretch">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ControlDice from '@/components/controls/Dice.vue';
import ControlCoin from '@/components/controls/Coin.vue';
import ControlLeftPanel from '@/components/controls/LeftPanel.vue';
import ControlRightPanel from '@/components/controls/RightPanel.vue';
import ControlPlay from '@/components/controls/Play.vue';
import ControlCurrentGame from '@/components/controls/CurrentGame.vue';
import ControlInstallWavesKeeper from '@/components/controls/InstallWavesKeeper.vue';
import ControlSocials from '@/components/controls/Socials.vue';
import ControlLastGames from '@/components/controls/LastGames.vue';
// import ControlMoreGames from '@/components/controls/WindowMoreGames.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    ControlDice,
    ControlCoin,
    ControlLeftPanel,
    ControlRightPanel,
    ControlPlay,
    ControlInstallWavesKeeper,
    ControlSocials,
    ControlLastGames,
    ControlCurrentGame,
    // ControlMoreGames,
  },
  computed: {
    ...mapGetters({
      isProcessing: 'isProcessing',
      isWKInitialized: 'wavesKeeperInitialized',
      selectedDices: 'selectedDices',
      processingStep: 'processingStep',
      isUnavailable: 'isUnavailable',
    }),
    dices() {
      return [1, 2, 3, 4, 5, 6].map(dice => ({
        dice,
        active: this.selectedDices.includes(dice),
      }));
    },
  },
};
</script>

<style scoped lang="scss">
  .text {
    margin: 1vw 0;

    @media (min-aspect-ratio: 16/9) {
      margin: calc((16 / 9) * 1vh) 0;
    }
  }

  .unavailable {
    pointer-events: none;
  }
</style>
