<template>
  <div class="panel flex column">
    <div class="flex row align-items-center">
      <div class="flex column align-items-center justify-content-center">
        <img class="logo" src="../../assets/images/logo.png" alt="">
        <div class="steps">
          <scene-step
            id="tutorial-step-5"
            icon="fa-trophy"
            @click="showPopupLeaderboard"
            :title="$t('message.sideMenu.leaders')">
          </scene-step>
          <scene-step
            id="tutorial-step-6"
            icon="fa-book"
            @click="showPopupInformation"
            :title="$t('message.sideMenu.rules')">
          </scene-step>
          <scene-step
            icon="fa-graduation-hat"
            @click="showTutorial"
            :title="$t('message.sideMenu.tutorial')">
          </scene-step>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { Popups } from '@/utils';
import SceneStep from '@/components/controls/Step.vue';

export default {
  components: {
    SceneStep,
  },
  methods: {
    ...mapActions({
      requestStatisticsUpdate: 'requestStatisticsUpdate',
      setPopupVisibility: 'setPopupVisibility',
      setTutorial: 'setTutorial',
    }),
    showPopupLeaderboard() {
      this.requestStatisticsUpdate();
      this.setPopupVisibility({
        popup: Popups.LEADERBOARD,
        visible: true,
      });
    },
    showPopupInformation() {
      this.setPopupVisibility({
        popup: Popups.INFORMATION,
        visible: true,
      });
    },
    showTutorial() {
      this.setTutorial(true);
    },
  },
};
</script>

<style scoped lang="scss">
  .panel {
    padding: calc((9 / 16) * 2vw) calc((9 / 16) * 3vw);
    margin-right: calc((9 / 16) * 1vw);

    .logo {
      width: calc((9 / 16) * 10vw);
      height: calc((9 / 16) * 10vw);
      margin-bottom: calc((9 / 16) * 3vw);
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      align-items: center;
      margin-left: 1vw;

      .ico {
        padding: 0.5vh;
        cursor: pointer;

        $ico-cup: 1.7vw;
        $k-ratio-cup: calc(24 / 32);
        $ico-info: 2vw;
        $k-ratio-info: calc(32 / 30);

        &.cup {
          width: calc((9 / 16) * #{$ico-cup});
          height: calc((9 / 16) * #{$ico-cup} / #{$k-ratio-cup});
        }

        &.info {
          width: calc((9 / 16) * #{$ico-info});
          height: calc((9 / 16) * #{$ico-info} / #{$k-ratio-info});
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .steps {
      margin: calc((9 / 16) * 1vw) 0;
    }

    @media (min-aspect-ratio: 16/9) {
      padding: 2vh 3vh;
      margin-right: 1vw;

      .logo {
        width: 10vh;
        height: 10vh;
        margin-bottom: 3vh;
      }

      .icons {
        margin-left: 1vh;

        .ico {
          padding: 0.5vh;

          $ico-cup: 1.7vh;
          $k-ratio-cup: calc(24 / 32);
          $ico-info: 2vh;
          $k-ratio-info: calc(32 / 30);

          &.cup {
            width: $ico-cup;
            height: calc(#{$ico-cup} / #{$k-ratio-cup});
          }

          &.info {
            width: $ico-info;
            height: calc(#{$ico-info} / #{$k-ratio-info});
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .steps {
        margin: 1vh 0;
      }
    }
  }
</style>
