<template>
  <div class="more-games flex column">
    <div class="text white">
      {{$t('message.moreGames')}}
    </div>
    <div class="flex row">
      <a target="_blank" href="https://www.coin-flip.io/">
        <img class="logo" src="../../assets/images/logo-coin-flip.png" alt="">
      </a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
  .more-games {
    align-self: start;
    font-size: 0.5vw;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    .logo {
      margin: 0.5vw 0 0 0;
      transition: transform 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    @media (min-aspect-ratio: 16/9) {
      font-size: calc((16 / 9) * 0.5vh);

      .logo {
        margin: calc((16 / 9) * 0.5vh) 0 0 0;
      }
    }
  }
</style>
