<template>
  <div class="play flex justify-content-center">
    <control-processing
      :title="$t('message.processing')"
      v-show="isProcessing && isVisible"
    ></control-processing>
    <control-button-big
      v-show="!isProcessing && isVisible"
      @click="onClick"
      :disabled="!isPlayable"
      :title="$t('message.play')"
    ></control-button-big>
  </div>
</template>

<script>
import ControlButtonBig from '@/components/controls/ButtonBig.vue';
import ControlProcessing from '@/components/controls/Processing.vue';
import { mapGetters, mapActions } from 'vuex';

export default {
  components: {
    ControlButtonBig,
    ControlProcessing,
  },
  computed: {
    ...mapGetters({
      betAmount: 'betAmount',
      selectedDices: 'selectedDices',
      isProcessing: 'isProcessing',
      isAnyPopupOpened: 'isAnyPopupOpened',
      popupsVisibility: 'popupsVisibility',
    }),
    isPlayable() {
      return this.betAmount !== null && this.selectedDices.length > 0;
    },
    isVisible() {
      return !this.isAnyPopupOpened;
    },
  },
  methods: {
    ...mapActions({
      handlePlay: 'play',
    }),
    onClick() {
      if (this.isPlayable) {
        this.handlePlay();
      }
    },
  },
};
</script>

<style scoped lang="scss">
  .play {
    height: calc((9 / 16) * 20vw);

    @media (min-aspect-ratio: 16/9) {
      height: 20vh;
    }
  }
</style>
