<template>
  <div class="processing text white flicker caption centered">
    {{title}}
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: {
    title: String,
  },
  computed: {
    ...mapGetters({
      processingStep: 'processingStep',
    }),
  },
};
</script>

<style scoped lang="scss">
  .processing {
    margin-top: 1vw;
    height: calc((9 / 16) * 20vw);

    @media (min-aspect-ratio: 16/9) {
      margin-top: calc((16 / 9) * 1vh);
      height: 20vh;
    }
  }
</style>
