<template>
  <div
    :class="['dice', {shaking: hovered, disabled: isProcessing}]"
    @mouseenter="onMouseEnter"
    @mouseleave="onMouseLeave"
    @click="setRandomDices"
  >
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      hovered: false,
    };
  },
  computed: {
    ...mapGetters({
      isProcessing: 'isProcessing',
    }),
  },
  methods: {
    ...mapActions({
      setRandomDices: 'setRandomDices',
    }),
    onMouseEnter() {
      this.hovered = true;
    },
    onMouseLeave() {
      this.hovered = false;
    },
  },
};
</script>

<style scoped lang="scss">
  $dice-size: 4;

  .dice {
    width: #{$dice-size}vw;
    height: #{$dice-size}vw;
    display: block;

    background: url("../../assets/images/random-dice-sprite.png") 0 0 no-repeat;
    background-size: 200% 100%;

    &:hover {
      background: url("../../assets/images/random-dice-sprite.png") 100% 0 no-repeat;
      background-size: 200% 100%;
    }

    &.disabled {
      cursor: none;
      pointer-events: none;
    }
  }

  .dice:not(.disabled) {
    cursor: pointer;
  }

  @media (min-aspect-ratio: 16/9) {
    .dice {
      width: calc((16 / 9) * #{$dice-size}vh) !important;
      height: calc((16 / 9) * #{$dice-size}vh) !important;
    }
  }
</style>
