<template>
  <div class="panel flex row">
    <div class="flex row align-items-center">
      <div class="flex column align-items-center">
        <div class="section">
          <p class="header text white centered">
            {{$t('message.sections.winningChance')}}
          </p>
          <p class="value text purple shadow centered">{{winningChanceFormatted}}%</p>
        </div>
        <div class="section">
          <p class="header text white centered">
            {{$t('message.sections.winningCoefficient')}}
          </p>
          <p class="value text purple shadow centered">
            <span class="lowercase">x</span> {{winningCoefficientFormatted}}
          </p>
        </div>
        <div class="section">
          <p class="header text white centered">
            {{$t('message.sections.youMayWin')}}
          </p>
          <p class="value text purple shadow centered">{{winningAmountFormatted}}</p>
          <p class="details text lightblue centered">waves</p>
        </div>
      </div>
      <div class="flex column" style="align-self: start;">
        <control-change-language></control-change-language>
      </div>
    </div>
  </div>
</template>

<script>
import ControlChangeLanguage from '@/components/controls/ChangeLanguage.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    ControlChangeLanguage,
  },
  computed: {
    ...mapGetters({
      selectedDices: 'selectedDices',
      betAmount: 'betAmount',
      winningChance: 'winningChance',
      winningAmount: 'winningAmount',
      winningCoefficient: 'winningCoefficient',
    }),
    winningChanceFormatted() {
      return this.winningChance.toFixed(3)
        .slice(0, -1);
    },
    winningAmountFormatted() {
      return this.winningAmount.toFixed(3)
        .slice(0, -1);
    },
    winningCoefficientFormatted() {
      return this.winningCoefficient.toFixed(3)
        .slice(0, -1);
    },
  },
};
</script>

<style scoped lang="scss">
  .panel {
    margin-top: 1vw;
    margin-left: 1vw;

    .section {
      margin-bottom: 4.2vw;

      p {
        margin: 0;
        padding: 0;
      }

      .header {
        font-size: calc((9 / 16) * 1.5vw);
        padding: calc((9 / 16) * 0.1vw) 0;
      }

      .value {
        font-size: calc((9 / 16) * 4vw);
        vertical-align: center;
        text-shadow: 0px -2px 30px rgba(255, 107, 245, .5), -2px 2px 1px rgba(255, 255, 255, 1);

        .lowercase {
          text-transform: lowercase;
        }
      }

      .details {
        font-family: Roboto, sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: calc((9 / 16) * 1vw);
        padding: calc((9 / 16) * 0.1vw) 0;
      }
    }

    @media (min-aspect-ratio: 16/9) {
      margin-top: calc((16 / 9) * 1vh);
      margin-left: calc((16 / 9) * 1vh);

      .section {
        margin-bottom: calc((16 / 9) * 4.2vh);

        p {
          margin: 0;
          padding: 0;
        }

        .header {
          font-size: 1.5vh;
          padding: 0.1vh 0;
        }

        .value {
          font-size: 4vh;

          .lowercase {
            text-transform: lowercase;
          }
        }

        .details {
          font-size: 1vh;
          padding: 0.1vh 0;
        }
      }
    }
  }
</style>
