<template>
  <div
    @click="click"
    :class="['step', { active: this.active, hoverable: !this.isUnavailable }]"
  >
    <div class="text order">
      <component class="icon" :is="icon"></component>
    </div>
    <div class="text title">{{title}}</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import faGraduationHat from '@fortawesome/fontawesome-free/svgs/solid/graduation-cap.svg';
import faTrophy from '@fortawesome/fontawesome-free/svgs/solid/trophy.svg';
import faBook from '@fortawesome/fontawesome-free/svgs/solid/book.svg';

export default {
  components: {
    faGraduationHat,
    faTrophy,
    faBook,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
    },
  },
  computed: {
    ...mapGetters({
      isUnavailable: 'isUnavailable',
    }),
  },
  data() {
    return {
      active: false,
    };
  },
  methods: {
    click() {
      this.$emit('click');
    },
  },
};
</script>

<style scoped lang="scss">
  $k-ratio: calc(190 / 78);
  $step-width: 9;

  @media (min-aspect-ratio: 16/9) {

    .step {
      width: calc((16 / 9) * #{$step-width}vh) !important;
      height: calc((16 / 9) * #{$step-width}vh / #{$k-ratio}) !important;

      .text {
        height: calc((#{$step-width}vh / (#{$k-ratio} * 0.6))) !important;
        margin-left: calc((16 / 9) * 1.4vh) !important;

        &.order {
          width: calc((16 / 9) * 1.3vh) !important;
          font-size: calc((16 / 9) * 0.7vh) !important;
        }

        &.title {
          width: calc((16 / 9) * 4.5vh) !important;
          margin-left: calc((16 / 9) * 0.5vh) !important;
          font-size: calc((16 / 9) * 0.7vh) !important;
        }
      }
    }
  }

  .step {
    cursor: pointer;
    width: #{$step-width}vw;
    height: calc(#{$step-width}vw / #{$k-ratio});
    display: block;
    background: url("../../assets/images/step-sprite.png") 0 0 no-repeat;
    background-size: 200% 100%;

    &:hover {
      background: url("../../assets/images/step-sprite.png") 100% 0 no-repeat;
      background-size: 200% 100%;
    }

    .icon {
      margin-right: 0.1vw;
      width: 0.6vw;
      height: 0.6vw;
      fill: white;

      @media (min-aspect-ratio: 16/9) {
        margin-right: calc((16 / 9) * 0.1vh);
        width: calc((16 / 9) * 0.6vh);
        height: calc((16 / 9) * 0.6vh);
      }
    }

    .text {
      pointer-events: none;
      text-align: left;
      text-transform: capitalize;
      height: calc(#{$step-width}vw / (#{$k-ratio} * 1.1));
      line-height: inherit;
      align-items: center;
      color: white;
      display: inline-flex;
      flex-direction: row;
      margin-left: 1.4vw;

      &.order {
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        width: 1.3vw;
        font-size: 0.7vw;
      }

      &.title {
        width: 4.5vw;
        justify-content: left;
        vertical-align: middle;
        margin-left: 0.5vw;
        font-size: 0.7vw;
      }
    }
  }
</style>
