<template>
  <div class="loading w-100vw h-100vh">
    <div class="text caption lightblue">{{ $t('message.loading') }}...</div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
  .loading {
    position: absolute;
    background-color: black;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
