<template>
  <div class="container flex column justify-content-center align-items-center">
    <!------------------------------------------------>
    <!-- overlay top -->
    <!------------------------------------------------>
    <div class="overlay"></div>
    <div class="scene flex justify-content-center align-items-center">
      <!------------------------------------------------>
      <!-- background -->
      <!------------------------------------------------>
      <img class="wh-100-aspect block absolute"
           src="../assets/images/bg.jpg" alt="">
      <!-- lights + dust + rocks -->
      <div class="animated">
        <!-- light -->
        <img class="wh-100-aspect block absolute beam-3"
             src="../assets/images/light-1.png" alt="">
        <!-- light -->
        <img class="wh-100-aspect block absolute beam-1"
             src="../assets/images/light-2.png" alt="">
        <!------------------------------------------------>
        <!-- dusts -->
        <!------------------------------------------------>
        <img class="wh-100-aspect block absolute float-head-1 dust"
             src="../assets/images/dust-1.png" alt="">
        <img class="wh-100-aspect block absolute float-tail-1 dust"
             src="../assets/images/dust-1.png" alt="">
        <!-- dust -->
        <img class="wh-100-aspect block absolute float-head-2 dust"
             src="../assets/images/dust-2.png" alt="">
        <img class="wh-100-aspect block absolute float-tail-2 dust"
             src="../assets/images/dust-2.png" alt="">
        <!------------------------------------------------>
        <!-- rocks -->
        <!------------------------------------------------>
        <div class="wh-100-aspect absolute float-rock-1">
          <img class="block absolute bottom rotate-1 rock-1" style="left: 38%"
               src="../assets/images/rock-1.png" alt="">
        </div>
        <div class="wh-100-aspect absolute float-rock-2">
          <img class="block absolute bottom rotate-2 rock-2" style="left: 45%"
               src="../assets/images/rock-2.png" alt="">
        </div>
        <div class="wh-100-aspect absolute float-rock-3">
          <img class="block absolute bottom rotate-1 rock-3" style="left: 51%"
               src="../assets/images/rock-3.png" alt="">
        </div>
        <div class="wh-100-aspect absolute float-rock-4">
          <img class="block absolute bottom rotate-2 rock-4" style="left: 37%"
               src="../assets/images/rock-4.png" alt="">
        </div>
        <div class="wh-100-aspect absolute float-tail-2">
          <img class="block absolute bottom rotate-1 rock-4" style="left: 37%"
               src="../assets/images/rock-4.png" alt="">
        </div>
        <div class="wh-100-aspect absolute float-head-1">
          <img class="block absolute bottom rotate-2 rock-3" style="left: 54%"
               src="../assets/images/rock-3.png" alt="">
        </div>
        <div class="wh-100-aspect absolute float-rock-5">
          <img class="block absolute bottom rotate-1 rock-5" style="left: 58%"
               src="../assets/images/rock-5.png" alt="">
        </div>
        <!------------------------------------------------>
        <!-- dust lights -->
        <!------------------------------------------------>
        <img class="wh-100-aspect block absolute float-head-1 dust"
             src="../assets/images/dust-light-1.png" alt="">
        <img class="wh-100-aspect block absolute float-tail-1 dust"
             src="../assets/images/dust-light-1.png" alt="">
        <!-- dust light -->
        <img class="wh-100-aspect block absolute float-head-2 dust"
             src="../assets/images/dust-light-2.png" alt="">
        <img class="wh-100-aspect block absolute float-tail-2 dust"
             src="../assets/images/dust-light-2.png" alt="">
        <!------------------------------------------------>
        <!-- light -->
        <!------------------------------------------------>
        <img class="wh-100-aspect block absolute beam-3"
             src="../assets/images/light-3.png" alt="">
        <!-- light -->
        <img class="wh-100-aspect block absolute beam-2"
             src="../assets/images/light-4.png" alt="">
        <!-- light -->
        <img class="wh-100-aspect block absolute beam-1"
             src="../assets/images/light-5.png" alt="">
        <!------------------------------------------------>
        <!-- eyes -->
        <!------------------------------------------------>
      </div>
      <!-- frontend -->
      <img class="wh-100-aspect block absolute"
           src="../assets/images/top-light.png" alt="">
      <!-- dragon eyes -->
      <div class="animated">
        <div class="wh-100-aspect absolute pulse-glow">
          <img class="block absolute bottom eye" style="top: 5%; left: 9.8%;"
               src="../assets/images/eye-light-left.png" alt="">
        </div>
        <div class="wh-100-aspect absolute pulse-glow">
          <img class="block absolute bottom eye" style="top: 6.5%; right: 11.5%;"
               src="../assets/images/eye-light-right.png" alt="">
        </div>
      </div>

      <!------------------------------------------------>
      <!-- testnet attention -->
      <!------------------------------------------------>

      <!------------------------------------------------>
      <!-- interface -->
      <!------------------------------------------------>
      <control-interface class="wh-100-aspect absolute"></control-interface>
      <!------------------------------------------------>
      <!-- popups -->
      <!------------------------------------------------>
      <div class="popup">
        <popup-information></popup-information>
        <popup-game-info-selected></popup-game-info-selected>
        <popup-leaderboard></popup-leaderboard>
        <popup-unavailable></popup-unavailable>
        <popup-permissions></popup-permissions>
        <popup-add-account></popup-add-account>
        <popup-switch-network></popup-switch-network>
        <popup-insufficient-funds></popup-insufficient-funds>
      </div>
    </div>
    <!------------------------------------------------>
    <!-- overlay bottom -->
    <!------------------------------------------------>
    <div class="overlay"></div>
  </div>
</template>

<script>
import PopupInsufficientFunds from '@/components/popups/PopupInsufficientFunds.vue';
import PopupInformation from '@/components/popups/PopupInformation.vue';
import PopupGameInfoSelected from '@/components/popups/PopupGameInfoSelected.vue';
import PopupLeaderboard from '@/components/popups/PopupLeaderboard.vue';
import PopupUnavailable from '@/components/popups/PopupUnavailable.vue';
import PopupAddAccount from '@/components/popups/PopupAddAccount.vue';
import PopupPermissions from '@/components/popups/PopupPermissions.vue';
import PopupSwitchNetwork from '@/components/popups/PopupSwitchNetwork.vue';
import ControlInterface from '@/components/controls/Interface.vue';

export default {
  components: {
    PopupInsufficientFunds,
    PopupGameInfoSelected,
    PopupInformation,
    PopupLeaderboard,
    PopupUnavailable,
    PopupSwitchNetwork,
    PopupPermissions,
    PopupAddAccount,
    ControlInterface,
  },
};
</script>

<style scoped lang="scss">
  .container {
    position: absolute;
    height: 100%;
    width: 100%;

    .scene {
      position: relative;
      z-index: 1;
      width: 100%;
      height: calc((9 / 16) * 100vw);

      .absolute {
        position: absolute;
      }

      .animated {
        display: flex;
        align-items: center;
        justify-content: center;

        .beam-1 {
          animation: pulse 2s ease-in-out infinite;
        }

        .beam-2 {
          animation: pulse 3s ease-out infinite;
        }

        .beam-3 {
          animation: pulse 3s ease-in-out infinite;
        }

        @keyframes pulse {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.5;
            transform: translate(-5px, -5px) scale(1.05);
          }
          100% {
            opacity: 1;
          }
        }

        @keyframes pulse-glow {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }

        @keyframes float-head {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-100%) scale(1.01);
          }
        }

        @media (min-aspect-ratio: 9/16) {
          @keyframes float-head {
            0% {
              transform: translateY(0vh);
            }

            100% {
              transform: translateY(calc((9 / 16) * 100vw * -1)) scale(1.01);
            }
          }
        }

        @keyframes float-tail {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-100vh) scale(1.01);
          }
        }

        @media (min-aspect-ratio: 9/16) {
          @keyframes float-tail {
            0% {
              transform: translateY(calc((9 / 16) * 100vw)) scale(1.01);
            }

            100% {
              transform: translateY(0);
            }
          }
        }

        @keyframes rotate-1 {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(360deg);
          }
        }

        @keyframes rotate-2 {
          0% {
            transform: rotate(0);
          }

          100% {
            transform: rotate(-360deg);
          }
        }

        .pulse-glow {
          animation: pulse-glow 2s ease-in-out infinite;
        }

        .rotate-1 {
          animation: rotate-1 10s linear infinite;
        }

        .rotate-2 {
          animation: rotate-2 8s linear infinite;
        }

        .float-head-1 {
          animation: float-head 10s linear infinite;
        }

        .float-tail-1 {
          animation: float-tail 10s linear infinite;
        }

        .float-head-2 {
          animation: float-head 8s linear infinite;
        }

        .float-tail-2 {
          animation: float-tail 8s linear infinite;
        }

        .float-rock-1 {
          animation: float-head 20s linear infinite;
        }

        .float-rock-2 {
          animation: float-head 12.36068s linear infinite;
        }

        .float-rock-3 {
          animation: float-head 7.63932s linear infinite;
        }

        .float-rock-4 {
          animation: float-head 4.72136s linear infinite;
        }

        .float-rock-5 {
          animation: float-head 2.91796s linear infinite;
        }
      }

      .dust {
        width: 35vw;
      }

      @media (min-aspect-ratio: 16/9) {
        .dust {
          width: calc((16 / 9) * 35vh);
        }
      }

      .bottom {
        bottom: 0;
      }

      @media (min-aspect-ratio: 16/9) {
        .eye {
          width: calc((16 / 9) * 4.8vh) !important;
        }

        .rock-1 {
          width: calc((16 / 9) * 1vh) !important;
        }

        .rock-2 {
          width: calc((16 / 9) * 2.5vh) !important;
        }

        .rock-3 {
          width: calc((16 / 9) * 2.5vh) !important;
        }

        .rock-4 {
          width: calc((16 / 9) * 2.5vh) !important;
        }

        .rock-5 {
          width: calc((16 / 9) * 1vh) !important;
        }
      }

      .eye {
        width: 4.8vw;
      }

      .rock-1 {
        width: 1vw;
      }

      .rock-2 {
        width: 2.5vw;
      }

      .rock-3 {
        width: 2.5vw;
      }

      .rock-4 {
        width: 2.5vw;
      }

      .rock-5 {
        width: 1vw;
      }

      .popup {
        width: 60%;
        display: inline-flex;
        position: fixed;
        justify-content: center;
        align-items: center;
      }

    }

    .overlay {
      position: relative;
      z-index: 2;
      width: 100%;
      flex: 1;
      background-color: black;
    }
  }
</style>
