<template>
  <div class="unsupported">
    <img class="logo" src="./assets/images/logo.png" alt="">
    <div class="container">
      <table>
        <thead>
        <tr>
          <th>{{$t('message.lastGames.player')}}</th>
          <th>{{$t('message.lastGames.bet')}}</th>
          <th>{{$t('message.lastGames.playerChoice')}}</th>
          <th>{{$t('message.lastGames.systemChoice')}}</th>
          <th>{{$t('message.lastGames.won')}}</th>
        </tr>
        </thead>
        <tbody is="transition-group" name="list">
        <template v-for="(game, id) in statsLastGamesFormatted">
        <tr
          :class="{odd: id % 2 === 0}"
          :key="game.smartAddress"
          @click="showPopup(game)"
        >
          <td class="data">{{game.playerAddress}}</td>
          <td class="data centered">
            {{game.bet}}
            <img class="wave" src="./assets/images/wave-small.png" alt="">
          </td>
          <td class="data">
            <control-dices-thumbnails
              :dices="game.playerChoice"
              :mobile="true"
            >
            </control-dices-thumbnails>
          </td>
          <td class="data">
            <control-dices-thumbnails
              :dices="[game.serverChoice]"
              :server-choice="true"
              :server-winner="game.serverWinner"
              class="justify-content-center"
              :mobile="true"
            >
            </control-dices-thumbnails>
          </td>
          <td class="data centered" v-if="game.serverWinner">
            <span style="opacity: 0.5">&#8212;</span>
          </td>
          <td class="data centered" v-else>
            {{game.cleanWonAmount}}
            <img class="wave" src="./assets/images/wave-small.png" alt="">
          </td>
        </tr>
        <tr class="spacer" :key="`${game.smartAddress}-space`">
          <td class="spacer" colspan="5"></td>
        </tr>
      </template>
        </tbody>
      </table>
    </div>
    <div class="message text caption white">
      <p class="title text purple centered">
        Sorry
      </p>
      <p class="content centered">
        You need a desktop browser and WAVES Keeper to play
      </p>
      <div class="text caption links flex justify-content-center centered">
        <a :href="extensions.chrome" target="_blank">chrome</a>
        <a :href="extensions.firefox" target="_blank">firefox</a>
      </div>
    </div>
  </div>
</template>

<script>
import ControlDicesThumbnails from '@/components/controls/DicesThumbnails.vue';
import { mapGetters, mapActions } from 'vuex';
import config from '@/config';
import {
  States,
  addressTruncate,
  dicesFromString,
} from '@/utils';

export default {
  components: {
    ControlDicesThumbnails,
  },
  methods: {
    ...mapActions({
      setAppLoadingHandler: 'setLoadingHandler',
    }),
  },
  computed: {
    ...mapGetters({
      statsLastGames: 'statsCurrentLastGames',
    }),
    statsLastGamesFormatted() {
      const arr = Array.from(this.statsLastGames)
        .slice(0, 5);
      return arr.map((game) => {
        const serverWinner = game.winner !== States.PLAYER;
        return {
          playerAddress: addressTruncate(game.playerAddress, 5, 5, '***'),
          playerScore: game.playerScore,
          ratingPoints: game.ratingPoints,
          smartAddress: game.smartAddress,
          serverChoice: parseInt(game.serverChoice, 10),
          cleanWonAmount: game.cleanWonAmount.toFixed(2),
          playerChoice: dicesFromString(game.playerChoice),
          bet: game.bet,
          serverWinner,
        };
      });
    },
    extensions() {
      return config.extensions;
    },
  },
  created() {
    this.setAppLoadingHandler();
  },
};
</script>

<style scoped lang="scss">
  .unsupported {
    background: url("./assets/images/bg-mobile.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {

      table {
        margin: 5vw;
        font-weight: bold;
        font-family: Roboto, sans-serif;
        font-style: italic;
        border-collapse: collapse;
        border-spacing: 0;

        thead {
          text-align: center;
          font-size: 2vw;
          color: rgb(125, 202, 250);

          tr th {
            padding: 0.5vw 1vw;
          }
        }

        tbody {
          text-align: justify;
          font-size: 2vw;
          color: white;

          &:hover {
            cursor: pointer;
          }

          tr {
            transition: all 0.5s;

            td {
              padding: 1.5vw 3vw;

              &.centered {
                text-align: center;
              }
            }

            &:hover:not(.spacer) {
              transform: translate(-0.5vw);
            }
          }

          tr.odd:not(.spacer) {
            background-color: rgba(27, 56, 112, 0.8);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          }

          tr:not(.spacer) {
            background-color: rgba(6, 29, 71, 0.8);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          }
        }
      }
    }

    .wave {
      width: 1.5vw;
      margin: 0 0.1vw;

      @media (min-aspect-ratio: 16/9) {
        width: calc((16 / 9) * 1.5vh);
        margin: 0 calc((16 / 9) * 0.1vh);
      }
    }

    .text {
      text-transform: capitalize;
      text-align: center;

      &.message {
        width: 80%;

        .title {
          font-size: 5vw;
        }

        .content {
          font-size: 3vw;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: row;

      a {
        font-size: 2vh;
        margin: 0 2vw;
      }
    }
  }
</style>
