@import url(~normalize.css/normalize.css);
@import url(~driver.js/dist/driver.min.css);

@font-face {
  font-family: 'Serpentin';
  src: url('../fonts/serpentin.otf') format('opentype');
  font-style: normal;
}

body {
  user-select: none;
  overflow: hidden;
  font-family: Serpentin, monospace;
  background-color: black;
  margin: auto;
}

.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.wh-100-aspect {
  width: 100vw;
  height: calc((9 / 16) * 100vw);
}

@media (min-aspect-ratio: 16/9) {
  .wh-100-aspect {
    height: 100vh;
    width: calc((16 / 9) * 100vh);
  }
}

img.block {
  display: block;
}

a {
  color: white;
}

@media (min-aspect-ratio: 16/9) {
  .text {
    &.caption {
      font-size: 2.5vh !important;
    }
  }
}

.text {
  text-transform: uppercase;

  &.caption {
    font-size: calc((9 / 16) * 2.5vw);
    letter-spacing: 0.05rem;

    &.shadow {
      text-shadow: 0px -2px 1px rgba(6, 39, 101, 1);
    }
  }

  &.white {
    color: white;
  }

  &.purple {
    color: rgb(138, 107, 245);
  }

  &.lightblue {
    color: rgb(107, 184, 228);
  }

  &.centered {
    text-align: center;
  }
}

.flex {
  display: flex;

  &.stretch {
    flex: 1;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-start {
    justify-content: start;
  }

  &.justify-content-left {
    justify-content: left;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-start {
    align-items: start;
  }

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.3s
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.3s;
}

.fade-enter-to {
  opacity: 1;
}

@keyframes shake {
  1%,
  9% {
    transform: translate3d(-0.4px, 0, 0);
  }

  2%,
  8% {
    transform: translate3d(0.4px, 0, 0);
  }

  3%,
  5%,
  7% {
    transform: translate3d(-1px, 0, 0);
  }

  4%,
  6% {
    transform: translate3d(1px, 0, 0);
  }

  11%,
  19% {
    transform: translate3d(-0.4px, 0, 0);
  }

  12%,
  18% {
    transform: translate3d(0.4px, 0, 0);
  }

  13%,
  15%,
  17% {
    transform: translate3d(-1px, 0, 0);
  }

  14%,
  16% {
    transform: translate3d(1px, 0, 0);
  }

  20% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.shaking {
  animation: shake 8.2s linear both infinite;
}

.wave {
  width: 0.7vw;
  margin: 0 0.1vw;

  @media (min-aspect-ratio: 16/9) {
    width: calc((16 / 9) * 0.7vh);
    margin: 0 calc((16 / 9) * 0.1vh);
  }
}

/*
 * Animations for games history:
 * Used in LastGames and AppUnsupported
 */
.list-leave-active {
  position: absolute;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translate(10vw, 0);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.flicker {
  animation: flicker 2s infinite;
}

.scrollbar-custom {
  scrollbar-color: rgba(125, 202, 250, 0.5) rgba(125, 202, 250, 0.1);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.4vw;
    background-color: rgba(125, 202, 250, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(125, 202, 250);
  }
}

.tutorial-popover {
  .driver-popover-title {
    font-family: Roboto, sans-serif !important;
  }
}
